body {
  font-family: $helvetica;
}
h3 {
  font-family: $lucida-grande;
  text-transform: uppercase;
}
  .navmain {
    @include span-columns(12);
    background: tint(red, 30%);
    height: 80%;

    h1 {
      padding-left: 7%;
      font-size: 40px;
    }
    ul{
      background: darken(orange, 10%);
      padding:40px;
      margin-bottom: 0;
    }
    li{
      display:inline;

    }
    a {
      text-decoration: none;
      padding: 15px;
      float: left;
    }
  }


  .main-story {
    @include span-columns(12);
    @media only screen and (min-width: 750px){
      @include span-columns(10);
      margin-left: 9%;
      margin-top: 2%;
    }

    .text1 {
      position: absolute;
      top: 300px;
      right: 300px;
      color: $in-img-text;
        }
  }
  .top-story{
    @include span-columns(12);
    margin-top: $content-margin;
    .top-story1{
      @include span-columns(3);
      border: 1px solid lightgrey;
      float:left;
      text-align: center;
    }
    .top-story2{
      @extend .top-story1;
    }
    .top-story3{
      @extend .top-story1;
    }
    .top-story4{
      @extend .top-story1;
    }

  }

  .content{
    @include span-columns(8);
    margin-left: 16%;
    margin-top: $content-margin;
    @media only screen and (min-width: 750px){
      @include span-columns(10);
      margin-left: 15%;
    }
    .content1, .content2, .content3, .content4 {
      border: 1px solid lightgrey;
      @media only screen and (min-width: 750px){
        @include span-columns(5);
        float:left;
        margin: 1%;
    }
  }
  }

  img{
    width:100%;
  }
